{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:prettier/recommended"],
  "ignorePatterns": ["*.d.ts"],
  "parserOptions": {
    "project": "../../tsconfig.json"
  },
  "rules": {
    "arrow-body-style": "error",
    "prefer-arrow-callback": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  }
}
