{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["*.d.ts"],
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:storybook/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": ["./tsconfig.json", "./packages/*/tsconfig.json"],
    "EXPERIMENTAL_useSourceOfProjectReferenceRedirect": true
  },
  "rules": {
    "arrow-body-style": ["error"],
    "prefer-arrow-callback": ["error"],
    "no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ]
  }
}
